@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  --pi-red: rgb(194, 30, 74);
  --pi-green: rgb(104, 191, 75);

  --light-bg: rgb(255, 255, 255);
  --light-bg2: rgb(230, 230, 230);

  --dark-bg: rgb(24, 26, 27);
  --dark-bg2: rgb(38, 41, 43);

  --background-colour: var(--dark-bg);
  --secondary-background: var(--dark-bg2);
  --nav-bar-colour: rgb(21, 101, 192);

  --container-colour: var(--secondary-background);

  --text: white;
  --nav-text: white;
}

@font-face {
  font-family: "montserrat";
  src: url('./assets/Montserrat-Regular.ttf');
}

body {
  font-family: "montserrat",sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-colour);
  color: var(--text);
}

body {
  -ms-overflow-style: none; /** For IE */
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {display:none;}
@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}

body::-webkit-scrollbar {
  display: none; /* remove the scrollbar in chrome */
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.light-content {
  --background-colour: var(--light-bg);
  --secondary-background: var(--light-bg2);
  --container-colour: var(--secondary-background);
  --text: black;
}

.dark-content {
  --background-colour: var(--dark-bg);
  --secondary-background: var(--dark-bg2);
  --container-colour: var(--secondary-background);
  --text: white;
  
}

.main-section {
  min-height: 93vh;
}


.nav-container {
  background-color: var(--nav-bar-colour);
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  color: var(--nav-text);
}

.nav-buttons {
  margin-top: auto;
  margin-bottom: auto;
}

.colour-mode-buttons {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-left: 6%;/* add padding to the toggles to make the page buttons centered */
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.footer { /* div for the footer in Footer */
  bottom: 0;
  width: 100%;
  height: 7vh;
  padding: 5px;
  background-color: var(--background-colour);
  color: var(--text);
}

.about-container,
.home-container {
  background-color: var(--container-colour);
  border-radius: 5px;
  margin: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1rem;
}

.github-icon{
  display: flex;
  justify-content: center;
}

.copyright-text {
  padding-bottom: 1rem;
}

#team-name {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 0.5rem;
}

#about-us-title,
#home-title {
  margin-top: 1rem;
}

#home-button,
#about-button {
  color: var(--nav-text);
}

#home-subheading{
  margin-left: 10%;
  margin-right: 10%;
}

